<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnyxPlataform </title>

    <environment include="Development">
       <partial name="_StylesPartial">
        <link href="~/wwwroot/assets/css/theme-yellow-1.css">
        
    </environment>
</head>
<body id="home" class="wide">
   

    <!-- Header top bar -->
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <ul class="list-inline">
                    <partial name="_LoginPartial">
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="list-inline">
                    <li class="hidden-xs"><a href="#"> Acerca de </a></li>
                    <li class="hidden-xs"><a href="#"> Blog </a></li>                             
                    <li class="hidden-xs"><a href="#"> Mi cuenta </a></li>
                    <li class="hidden-xs"><a href="#"> Contactanos </a></li>
                    <li class="hidden-xs"><a href="#"> Wish List </a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Header top bar -->

     <!-- HEADER -->
    <header class="header fixed">
        <div class="header-wrapper">
            <div class="container">

                <!-- Logo -->
                <div class="logo">
                    <a href="index.html"><img src="~/assets/img/logo-bella-shop.png" alt="Bella Shop"/></a>
                </div>
                <!-- /Logo -->

                <!-- Header search -->
                <div class="header-search">
                    <input class="form-control" type="text" placeholder="What are you looking?"/>
                    <button><i class="fa fa-search"></i></button>
                </div>
                <!-- /Header search -->

                <!-- Header shopping cart -->
                <div class="header-cart">
                    <div class="cart-wrapper">
                        <a href="wishlist.html" class="btn btn-theme-transparent hidden-xs hidden-sm"><i class="fa fa-heart"></i></a>
                        <a href="compare-products.html" class="btn btn-theme-transparent hidden-xs hidden-sm"><i class="fa fa-exchange"></i></a>
                        <a href="#" class="btn btn-theme-transparent" data-toggle="modal" data-target="#popup-cart"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs"> 0 item(s) - $0.00 </span> <i class="fa fa-angle-down"></i></a>
                        
                        
                        <!-- Mobile menu toggle button -->
                        <a href="#" class="menu-toggle btn btn-theme-transparent"><i class="fa fa-bars"></i></a>
                        <!-- /Mobile menu toggle button -->
                    </div>
                </div>
                <!-- Header shopping cart -->

            </div>

            <div class="navigation-wrapper">
                <div class="container">
                    <!-- Navigation -->
                    <nav class="navigation closed clearfix">
                        <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                        <ul class="nav sf-menu">
                            <li class="active"><a href="index.html"> Home </a>
                            </li>
                            <li><a href=""> Tiendas </a>
                                <ul>
                                    
                                </ul>
                            </li>
                            <li><a href="#"> Blog </a>
                                <ul>
                                    
                                </ul>
                            </li>
                            <li><a href=""> ItemX </a>
                                <ul>
                                    
                                </ul>
                            </li>
                            <li class="megamenu"><a href="#">Features</a>
                                <ul>
                                    <li class="row">
                                        <div class="col-md-2">
                                            <h4 class="block-title"><span>Womens</span></h4>
                                            <ul>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <h4 class="block-title"><span>Mens</span></h4>
                                            <ul>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <h4 class="block-title"><span>Pages</span></h4>
                                            <ul>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-md-2 visible-xs">
                                            <h4 class="block-title"><span>My Account</span></h4>
                                            <ul>
                                                <li><a href="accountinformation.html"> Account Information </a></li>
                                                <li><a href="myaccount.html">My Account</a></li>                                        
                                                <li><a href="cng-pw.html">Change Password</a></li>
                                                <li><a href="address-book.html">Address Books</a></li>
                                                <li><a href="order-history.html">Order History</a></li>
                                                <li><a href="review-rating.html">Reviews and Ratings</a></li>
                                                <li><a href="return.html">Returns Requests</a></li>
                                                <li><a href="newsletter.html">Newsletter</a></li>
                                                <li><a href="myaccount-leftsidebar.html">Left Sidebar</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="block-title"><span> ItemX </span></h4>
                                            <ul>
                                                <li><a href=""><strong> ItemX.1 </strong></a></li>
                                                <li><a href=""><strong> ItemX.1 </strong></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="product-list">
                                                <div class="media">
                                                    <a class="pull-left media-link" href="#">
                                                        <img class="media-object" src="assets/img/preview/shop/top-sellers-2.jpg" alt="">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#">Standard Product Header</a></h4>
                                                        <div class="rating">
                                                            <span class="star"></span><!--
                                                            --><span class="star active"></span><!--
                                                            --><span class="star active"></span><!--
                                                            --><span class="star active"></span><!--
                                                            --><span class="star active"></span>
                                                        </div>
                                                        <div class="price"><ins>$400.00</ins> <del>$425.00</del></div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <a class="pull-left media-link" href="#">
                                                        <img class="media-object" src="assets/img/preview/shop/top-sellers-3.jpg" alt="">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#">Standard Product Header</a></h4>
                                                        <div class="rating">
                                                            <span class="star"></span><!--
                                                            --><span class="star active"></span><!--
                                                            --><span class="star active"></span><!--
                                                            --><span class="star active"></span><!--
                                                            --><span class="star active"></span>
                                                        </div>
                                                        <div class="price"><ins>$400.00</ins> <del>$425.00</del></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="category.html">Men</a></li>
                            <li><a href="category.html">Women</a></li>
                            <li><a href="category.html">Kids</a></li>
                            <li><a href="category.html">New</a></li>
                            <li class="sale"><a href="category.html">Sale</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- /Navigation -->
                </div>
            </div>
        </div>


    </header>
    <!-- /HEADER -->

    

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   

    @RenderSection("Scripts", required: false)
</body>

    <environment include="Development">
       <partial name="_StylesPartial">
    </environment>
    
</html>
