@model List<OnyxPlataform.Models.Store>


<div class="container">
    @foreach(var item in Model){
      <table>
          <tbody>
              <tr>
                  <td>
                      <img src="assets/storeicon.jpg" height="100" width="100" alt="500/">
                  </td>
                  <td>
                      <h3>Nombre de la tienda: @item.StoreName</h3>
                  </td>
                  <td>
                      &nbsp;
                      &nbsp;
                      &nbsp;
                      &nbsp;
                      &nbsp;
                  </td>
                  <td>
                      <a href="StoreController/ShowStore/@item.StoreId" class="btn btn-primary">Ver</a>
                  </td>
              </tr>

          </tbody>
      </table>
    }
</div>
