@model List<OnyxPlataform.Models.Store>


<div class="container">
    @foreach(var item in Model){
        <div class="alert alert-primary" role="alert">
            Nombre de la Tienda:  @item.StoreName 
            <br>
            <a asp-controller="Store" asp-action="ShowStore" asp-route-Id="@item.StoreId" class=" btn btn-primary bg-dark"> ver mas..</a>
        </div>
    }
</div>
