@model OnyxPlataform.Models.Store

@{
    ViewData["Title"]="Hola Mundo";
}
<div class="content-area">
    <section class="page-section breadcrumbs">
        
        <div class="container">
            <div class="page-header">
                <h1>@model.StoreName</h1>
            </div>
            
        </div>
    </section>
</div>