/* Header
/* ========================================================================== */

.sticky-wrapper:not(.is-sticky) {
    height: auto !important;
}

.header {
    border-bottom: solid 3px #00b16a;
}

.wide .sticky-wrapper .header {
    width: 100% !important;
}

.sticky-wrapper .header {
    z-index: 20;
}

@media (max-width: 767px) {
    .sticky-wrapper .header {
        position: relative !important;
        height: auto !important;
    }
}

.header .header-wrapper {
    padding: 30px 0;
    background-color: #ffffff;
    position: relative;
}

.header .header-wrapper>.container {
    position: relative;
    min-height: 40px;
}

.is-sticky .header .header-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .header-search {
    position: absolute;
    top: 0;
    left: 15px;
    width: 270px;
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .header-search {
        width: 170px;
    }
}

@media (max-width: 768px) {
    .header .header-search {
        width: 100px;
    }
}

.header .header-search .form-control {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.header .header-search button {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: #ffffff;
    border: none;
    padding: 2px 8px;
    line-height: 30px;
    font-size: 16px;
    color: #232323;
}

.header .header-search button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -34px;
    width: 34px;
    height: 34px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.header .header-cart {
    position: absolute;
    top: 0;
    right: 15px;
}

.header .navigation-wrapper {
    border-top: solid 1px #d3d5d7;
    background-color: #f5f6f7;
}

.header .navigation-wrapper.navigation-sticky {
    width: 100%;
}

.header.header-logo-left .header-search {
    left: 305px;
    width: 570px;
  }
  @media (max-width: 1199px) {
    .header.header-logo-left .header-search {
      width: 370px;
    }
  }
  @media (max-width: 991px) {
    .header.header-logo-left .header-search {
      left: 290px;
      width: 225px;
    }
  }
  @media (min-width: 480px) and (max-width: 768px) {
    .header.header-logo-left .header-search {
      left: auto;
      top: auto;
      width: 100%;
      margin-top: 30px;
      position: relative;
    }
  }
  .header.header-logo-left .header-search button:not(.selectpicker) {
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    background-color: #232323;
    color: #ffffff;
  }
  .header.header-logo-left .header-search button:not(.selectpicker):before {
    display: none;
  }
  .header.header-logo-left .header-search .header-search-select {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  .header.header-logo-left .header-search .header-search-select .dropdown-toggle {
    border-left: solid 1px #e9e9e9;
    height: 34px;
    width: 130px;
    right: 40px;
  }
  .header.header-logo-left .header-search .header-search-select .dropdown-toggle:before {
    left: -35px;
  }
  @media (max-width: 991px) {
    .header.header-logo-left .header-search .header-search-select .dropdown-toggle {
      width: 40px;
    }
    .header.header-logo-left .header-search .header-search-select .dropdown-toggle:after {
      content: '\f0b0';
      font-family: 'FontAwesome';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 38px;
      text-align: center;
      color: #232323;
    }
  }
  .header.header-logo-left .header-search .header-search-select .filter-option {
    text-transform: none;
    line-height: 28px;
  }
  @media (max-width: 991px) {
    .header.header-logo-left .header-search .header-search-select .filter-option {
      display: none;
      width: 40px;
    }
  }
  @media (max-width: 991px) {
    .header.header-logo-left .header-search .header-search-select .caret {
      display: none;
    }
  }
  .header.header-logo-left .header-search .dropdown-menu.open {
    border: none;
    width: 100%;
    margin-top: -7px;
  }
  @media (max-width: 480px) {
    .header-search {
      position: relative !important;
      left: 0 !important;
      float: none;
      width: 100% !important;
      margin-bottom: 20px;
    }
    .header-cart {
      position: relative !important;
      right: auto !important;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .coming-soon .header {
    position: fixed !important;
    border-bottom-color: rgba(0, 177, 106, 0.5) !important;
  }
  .coming-soon .header .header-wrapper {
    background-color: rgba(255, 255, 255, 0.5) !important;
  }
  .coming-soon .header .navigation-wrapper {
    border-top: transparent;
  }

  /* Logo
/* ========================================================================== */
.logo {
    padding-top: 5px;
    margin: 0 auto;
    max-width: 255px;
    height: auto;
  }
  .logo img {
    max-width: 100%;
  }
  .header-logo-left .logo {
    margin-left: 0;
  }
  @media (max-width: 480px) {
    .logo {
      padding-top: 0;
      margin-bottom: 30px;
    }
    .header-logo-left .logo {
      margin-left: auto;
    }
  }
