
@{
    ViewData["Title"] = "ClassRoom";
}

<!-- CONTENT AREA -->
            <div class="content-area">

         
                <section class="page-section">
                    <div class="container">

                        <div class="row product-single">
                            
                                   
                                
                               <img src="assets/img/preview/shop/contabilidad_caja.jpg" alt="">
                            
                            <div class="col-md-6">
                                <div class="back-to-category">
                                    <span class="link"><i class="fa fa-angle-left"></i> Back to <a href="category.html">Category</a></span>
                                    <div class="pull-right">
                                        <a class="btn btn-theme btn-theme-transparent btn-previous" href="#"><i class="fa fa-angle-left"></i></a><!--
                                        --><a class="btn btn-theme btn-theme-transparent btn-next" href="#"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <h2 class="product-title">Contabilidad y caja</h2>
                                <div class="product-rating clearfix">
                                    <div class="rating">
                                        <span class="star"></span><!--
                                        --><span class="star active"></span><!--
                                        --><span class="star active"></span><!--
                                        --><span class="star active"></span><!--
                                        --><span class="star active"></span>
                                    </div>
                                    <a class="reviews" href="#">16 reviews</a> | <a class="add-review" href="#">Add Your Review</a>
                                </div>
                                <div class="product-availability">Availability: <strong>In stock</strong> 21 Item(s)</div>
                                <hr class="page-divider small"/>

                                <div class="product-price">Gratis</div>
                                <hr class="page-divider"/>

                                <div class="product-text">
                                    
                                    <ul>
                                        <li>-La contabilidad es una ciencia y una técnica que aporta información de utilidad para
                                             el proceso de toma de decisiones económicas. ... La contabilidad general de una empresa, 
                                             por lo tanto, implica el control de todas sus operaciones diarias: 
                                            compra, venta, gastos, inversiones, etc.</li>
                                    </ul>
                                </div>
                                <hr class="page-divider"/>

                                
                                <hr class="page-divider small"/>

                                <hr class="page-divider small"/>

                                <table>
                                    <tr>
                                        <td class="title">Category:</td>
                                        <td>Contabilidad</td>
                                    </tr>
                                    <tr>
                                        <td class="title">Product Code:</td>
                                        <td>PS08</td>
                                    </tr>
                                    <tr>
                                        <td class="title">Impartido por:</td>
                                        <td>ING. Kevin Blanco.</td>
                                    </tr>
                                </table>
                                <hr class="page-divider small"/>

                                <ul class="social-icons list-inline">
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </section>
               

          
                <section class="page-section">
                    <div class="container">
                        <div class="tabs-wrapper content-tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#item-description" data-toggle="tab">Item Description</a></li>
                                <li><a href="#reviews" data-toggle="tab">Reseñas (2)</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="item-description">
                                    <p>La contabilidad nació con el desarrollo del mercado, entendido éste como intercambio de mercancías.
                                     La contabilidad es el control y el registro de las operaciones realizadas (de lo que se ha recibido y 
                                     ofrecido). La contabilidad, en las Sociedades antiguas clásicas, como Grecia y Roma, y también en las c
                                     ortes árabes, se registraba los patrimonios del
                                     estado y los de las grandes familias, controlándose por ejemplo, las cantidades de grano 
                                     de los almacenes.</p>
                                </div>
                                <div class="tab-pane fade" id="reviews">

                                    <div class="comments">
                                        <div class="media comment">
                                            <a href="#" class="pull-left comment-avatar">
                                                <img alt="" src="assets/img/preview/avatars/avatar-1.jpg" class="media-object">
                                            </a>
                                            <div class="media-body">
                                                <p class="comment-meta"><span class="comment-author"><a href="#">User Name Here</a> <span class="comment-date"> 26 days ago <i class="fa fa-flag"></i></span></span></p>
                                                <p class="comment-text">Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismd. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere.</p>
                                            </div>
                                        </div>
                                        <div class="media comment">
                                            <a href="#" class="pull-left comment-avatar">
                                                <img alt="" src="assets/img/preview/avatars/avatar-3.jpg" class="media-object">
                                            </a>
                                            <div class="media-body">
                                                <p class="comment-meta"><span class="comment-author"><a href="#">User Name Here</a> <span class="comment-date"> 26 days ago <i class="fa fa-flag"></i></span></span></p>
                                                <p class="comment-text">Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismd. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comments-form">
                                        <h4 class="block-title">Reseña</h4>
                                        <form method="post" action="#" name="comments-form" id="comments-form">
                                            <div class="form-group"><input type="text" placeholder="Your name and surname" class="form-control" title="comments-form-name" name="comments-form-name"></div>
                                            <div class="form-group"><input type="text" placeholder="Your email adress" class="form-control" title="comments-form-email" name="comments-formemail"></div>
                                            <div class="form-group"><textarea placeholder="Your message" class="form-control" title="comments-form-comments" name="comments-form-comments" rows="6"></textarea></div>
                                            <div class="form-group"><button type="submit" class="btn btn-theme btn-theme-transparent btn-icon-left" id="submit"><i class="fa fa-comment"></i> Review</button></div>
                                        </form>
                                    </div>
                                    <!-- // -->

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
               
                <section class="page-section">
                    <div class="container">
                        <h2 class="section-title section-title-lg"><span>Productos relacionados</span></h2>
                        <div class="featured-products-carousel">
                            <div class="owl-carousel" id="featured-products-carousel">
                                
                               
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" href="#">
                                            <img src="assets/img/preview/shop/product-3.jpg" alt=""/>
                                            <span class="icon-view">
                                                <strong><i class="fa fa-eye"></i></strong>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title">Administracion de empresa.</h4>
                                        <div class="rating">
                                            <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                                        </div>
                                        <div class="price"><ins>Gratis</ins> <del>$425.00</del></div>
                                        <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>Matricular</a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" href="#">
                                            <img src="assets/img/preview/shop/product-4.jpg" alt=""/>
                                            <span class="icon-view">
                                                <strong><i class="fa fa-eye"></i></strong>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title">Economía</h4>
                                        <div class="rating">
                                            <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                                        </div>
                                        <div class="price"><ins>$400.00</ins> <del>$425.00</del></div>
                                        <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>Matricular</a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="page-divider half"/>
                        <a class="btn btn-theme btn-view-more-block" href="#" style="max-width: 100%;">View More</a>
                    </div>
                </section>
                

                

            </div>
          

       