@{
    ViewData["Title"] = "Home Page";
    var list = new List<int>(){ 1, 2, 3, 4, 5, 6 };
}
    
<environment include="Development">
    <partial name="_StylesPartial">
</environment>

<!-- CONTENT AREA -->
        <div class="content-area">

            <!-- PAGE -->
            <section class="page-section no-padding slider">
                <div class="container full-width">

                    <div class="main-slider">
                        <div class="owl-carousel" id="main-slider">

                            <!-- Slide 3 -->
                            <div class="item slide3 dark">
                                <img class="slide-img" src="~/assets/img/preview/slider/slide-3.jpg" alt=""/>
                                
                            </div>
                            <!-- /Slide 3 -->

                            <!-- Slide 2 -->
                            <div class="item slide2 alt">
                                <img class="slide-img" src="~/assets/img/preview/slider/slide-2.jpg" alt=""/>
                                
                            </div>
                            <!-- /Slide 2 -->

                            <!-- Slide 1 -->
                            <div class="item slide1">
                                <img class="slide-img" src="~/assets/img/preview/slider/slide-1.jpg" alt=""/>
                                
                            </div>
                            <!-- /Slide 1 -->

                        </div>
                    </div>

                </div>
            </section>
            <!-- /PAGE -->
        </div>

<!-- PAGE -->
                <!-- PAGE OPTIONES DE COMPRA -->
                <section class="page-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="product-list">
                                    <a class="btn btn-theme btn-title-more" href="#">Ver Todo</a>
                                    <h4 class="block-title"><span>Top Sellers</span></h4>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="assets/img/preview/home/bs1.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Tacones de diseñador</a></h4>
                                            <div class="rating">
                                                <span class="star"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span>
                                            </div>
                                            <div class="price"><ins>$40.00</ins> <del>$45.00</del></div>
                                        </div>
                                    </div>
                                    </div>
                                   <br>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="assets/img/preview/home/bs3.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Proteina para el desarollo Muscular</a></h4>
                                            <div class="rating">
                                                <span class="star"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span>
                                            </div>
                                            <div class="price"><ins>C$230.00</ins> <del>C$467.00</del></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-list">
                                    <a class="btn btn-theme btn-title-more" href="#">Ver Todo</a>
                                    <h4 class="block-title"><span>Top Accesorios</span></h4>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="assets/img/preview/home/acc1.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Chinelas Rolter Verdes</a></h4>
                                            <div class="rating">
                                                <span class="star"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span>
                                            </div>
                                            <div class="price"><ins>C$50.00</ins> <del>C$65.00</del></div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="assets/img/preview/home/acc2.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Rimel Marca croupe</a></h4>
                                            <div class="rating">
                                                <span class="star"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span>
                                            </div>
                                            <div class="price"><ins>C$50.00</ins> <del>C$99.99</del></div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="assets/img/preview/home/acc3.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Cable Utp de metros</a></h4>
                                            <div class="rating">
                                                <span class="star"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span>
                                            </div>
                                            <div class="price"><ins>C$46.00</ins> <del>C$54.00</del></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-list">
                                    <a class="btn btn-theme btn-title-more" href="#">Ver Todo</a>
                                    <h4 class="block-title"><span>Top Novedades</span></h4>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="assets/img/preview/home/nw1.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Xiami Redmi Note 7</a></h4>
                                            <div class="rating">
                                                <span class="star"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span>
                                            </div>
                                            <div class="price"><ins>$249.99</ins> <del>$299.99</del></div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="assets/img/preview/home/nw2.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Selfie Stick</a></h4>
                                            <div class="rating">
                                                <span class="star"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span><!--
                                                --><span class="star active"></span>
                                            </div>
                                            <div class="price"><ins>C$99.99</ins> <del>C$110.99</del></div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
<!-- /PAGE -->
    
         <!-- PAGE -->
        <section class="page-section">
            <div class="container">
                <h2 class="section-title"><span>Marcas & Socios Disponibles en Onyx</span></h2>
                <div class="partners-carousel">
                    <div class="owl-carousel" id="partners">
                        <div><a href="#"><img src="assets/img/preview/log/log1.png" alt=""/></a></div>
                        <div><a href="#"><img src="assets/img/preview/log/log2.png" alt=""/></a></div>
                        <div><a href="#"><img src="assets/img/preview/log/log3.jpg" alt=""/></a></div>
                        <div><a href="#"><img src="assets/img/preview/log/log4.jpg" alt=""/></a></div>
                        <div><a href="#"><img src="assets/img/preview/log/log5.jpg" alt=""/></a></div>
                        <div><a href="#"><img src="assets/img/preview/log/log6.jpg" alt=""/></a></div>
                        <div><a href="#"><img src="assets/img/preview/log/log7.jpg" alt=""/></a></div>
                        <div><a href="#"><img src="assets/img/preview/log/log8.png" alt=""/></a></div>
                        <div><a href="#"><img src="assets/img/preview/log/log9.jpg" alt=""/></a></div>
                        <div><a href="#"><img src="assets/img/preview/log/log10.jpg" alt=""/></a></div>
                        <div><a href="#"><img src="assets/img/preview/log/log13.jpg" alt=""/></a></div>
                        <div><a href="#"><img src="assets/img/preview/log/log11.jpg" alt=""/></a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /PAGE -->

         <!-- PAGE -->
        <section class="page-section image testimonials">
            <div class="container">
                <h2 class="section-title section-title-lg"><span><span class="thin">Lo que </span>los clientes <span class="thin"> Opinan DE ONYX</span></span></h2>
                <div class="testimonials-carousel">
                    <div class="owl-carousel" id="testimonials">
                        <div class="testimonial">
                            <div class="testimonial-text">La vida se me ha checho mas Facil Con ONYX</div>
                            <div class="testimonial-name">Carla Hernandez</div>
                        </div>
                        <div class="testimonial">
                            <div class="testimonial-text">Con Onyx he ahorrado casi mas de $2000 este mes!</div>
                            <div class="testimonial-name">Allison Tellez</div>
                        </div>
                        <div class="testimonial">
                            <div class="testimonial-text">He encontrado todo lo que quiero dentro del amplio catalogo de ONYX!</div>
                            <div class="testimonial-name">David Florez</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /PAGE -->

    <!-- PAGE -->
                <section class="page-section">
                    <div class="container">
                        <h2 class="section-title"><span>Productos con la Puntuacion mas Alta del mes!</span></h2>
                        <div class="top-products-carousel">
                            <div class="owl-carousel" id="top-products-carousel">
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/items/img9.jpg">
                                            <img src="assets/img/preview/items/img9.jpg" alt=""/>
                                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title"><a href="product-details.html">Lapicera</a></h4>
                                        <div class="rating">
                                            <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                                        </div>
                                        <div class="price"><ins>C$400.00</ins> <del>C$425.00</del></div>
                                        <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a><!--
                                            --><a class="btn btn-theme btn-theme-transparent" href="#">Añadir al carrito</a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/items/img8.jpg">
                                            <img src="assets/img/preview/items/img8.jpg" alt=""/>
                                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title"><a href="product-details.html">Telefono Samsung note 9</a></h4>
                                        <div class="rating">
                                            <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                                        </div>
                                        <div class="price"><ins>$300.00</ins> <del>$425.00</del></div>
                                        <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a><!--
                                            --><a class="btn btn-theme btn-theme-transparent" href="#">Añadir al carrito</a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/items/img7.jpg">
                                            <img src="assets/img/preview/items/img7.jpg" alt=""/>
                                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title"><a href="product-details.html">Laptop Hp</a></h4>
                                        <div class="rating">
                                            <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                                        </div>
                                        <div class="price"><ins>$600.00</ins> <del>$825.00</del></div>
                                        <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a><!--
                                            --><a class="btn btn-theme btn-theme-transparent" href="#">Añadir al carrito</a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/items/img5.jpg">
                                            <img src="assets/img/preview/items/img5.jpg" alt=""/>
                                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title"><a href="product-details.html">Set de Llaves Inglesas</a></h4>
                                        <div class="rating">
                                            <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                                        </div>
                                        <div class="price"><ins>$70.00</ins> <del>$125.00</del></div>
                                        <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a><!--
                                            --><a class="btn btn-theme btn-theme-transparent" href="#">Añadir al carrito</a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/items/img6.jpg">
                                            <img src="assets/img/preview/items/img6.jpg" alt=""/>
                                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title"><a href="product-details.html">Batidos Cosechas</a></h4>
                                        <div class="rating">
                                            <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                                        </div>
                                        <div class="price"><ins>C$40.00</ins> <del>C$55.00</del></div>
                                        <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a><!--
                                            --><a class="btn btn-theme btn-theme-transparent" href="#">Añadir al carrito</a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/items/img4.jpg">
                                            <img src="assets/img/preview/items/img4.jpg" alt=""/>
                                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title"><a href="product-details.html">Grifo de acero inoxidable marca Garnier</a></h4>
                                        <div class="rating">
                                            <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                                        </div>
                                        <div class="price"><ins>C$400.00</ins> <del>C$475.00</del></div>
                                        <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a><!--
                                            --><a class="btn btn-theme btn-theme-transparent" href="#">Añadir al carritot</a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                            <img src="assets/img/preview/shop/top-rated-1.jpg" alt=""/>
                                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title"><a href="product-details.html">Standard Product Header</a></h4>
                                        <div class="rating">
                                            <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                                        </div>
                                        <div class="price"><ins>$400.00</ins> <del>$425.00</del></div>
                                        <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a><!--
                                            --><a class="btn btn-theme btn-theme-transparent" href="#">Añadir al carritot</a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                            <img src="assets/img/preview/shop/top-rated-2.jpg" alt=""/>
                                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title"><a href="product-details.html">Standard Product Header</a></h4>
                                        <div class="rating">
                                            <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                                        </div>
                                        <div class="price"><ins>$400.00</ins> <del>$425.00</del></div>
                                        <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a><!--
                                            --><a class="btn btn-theme btn-theme-transparent" href="#">Añadir al carritot</a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /PAGE -->








