@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}


<!-- CONTENT AREA -->
<div class="content-area">

    <!-- PAGE -->
    <section class="page-section color">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="block-title"><span>Registrarse</span></h3>
                    <form action="#" class="form-login">
                        <div class="row">
                            <div class="col-md-12 hello-text-wrap">
                                <span class="hello-text text-thin"> Hola, crea tu cuenta desde aqui </span>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group"><input class="form-control" type="text" placeholder="User name or email"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group"><input class="form-control" type="password" placeholder="Your password"></div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="checkbox">
                                    <label><input type="checkbox"> Recuerdame </label>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-6 text-right-lg">
                                <a class="forgot-password" href="#"> Olvido su contraseña? </a>
                            </div>

                            <div class="col-md-6">
                                <a class="btn btn-theme btn-block btn-theme-dark" href="#">Login</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-sm-6">
                    <h3 class="block-title"><span> </span></h3>
                    <form action="#" class="form-login">
                        <div class="row">
                            <div class="col-md-12 hello-text-wrap">
                                <span class="hello-text text-thin" style="padding: 12px"> </span>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group"><input class="form-control" type="text" placeholder="User name or email"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group"><input class="form-control" type="password" placeholder="Your password"></div>
                            </div>
                            

                            
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </section>
    <!-- /PAGE -->

    

</div>
<!-- /CONTENT AREA -->

@*<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crea una nueva cuenta.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
